
<p>
  <strong>Value:</strong>
  <%= @race.value %>
</p>

<p>
  <strong>Description:</strong>
  <%= @race.description %>
</p>

<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>
