// Place all the styles related to the race_participants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#showAccuracy.hidden {
  display: none;
}

.match{
  background: lawngreen;
}

.unmatch{
  background: lightcoral;
}
#barProgress {
  //background-color: grey;
  height: 42px;
  border-bottom: 2px solid;
}
#newBar {
  width: 50px;
  height: 42px;
  /*background-color: green;*/

}